In [2]:
#import libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\babu\anaconda3\lib\site-packages (1.5.2)
Requirement already satisfied: scipy in c:\users\babu\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\babu\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error as MAE
import xgboost
import tensorflow as tf

In [5]:
df = pd.read_csv("gas_turbines.csv")

In [6]:
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [7]:
df.shape

(15039, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15039 entries, 0 to 15038
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      15039 non-null  float64
 1   AP      15039 non-null  float64
 2   AH      15039 non-null  float64
 3   AFDP    15039 non-null  float64
 4   GTEP    15039 non-null  float64
 5   TIT     15039 non-null  float64
 6   TAT     15039 non-null  float64
 7   TEY     15039 non-null  float64
 8   CDP     15039 non-null  float64
 9   CO      15039 non-null  float64
 10  NOX     15039 non-null  float64
dtypes: float64(11)
memory usage: 1.3 MB

In [9]:
df.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311

In [10]:
df.describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,15039.000000,15039.00000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000
mean,17.764381,1013.19924,79.124174,4.200294,25.419061,1083.798770,545.396183,134.188464,12.102353,1.972499,68.190934
std,7.574323,6.41076,13.793439,0.760197,4.173916,16.527806,7.866803,15.829717,1.103196,2.222206,10.470586
min,0.522300,985.85000,30.344000,2.087400,17.878000,1000.800000,512.450000,100.170000,9.904400,0.000388,27.765000
25%,11.408000,1008.90000,69.750000,3.723900,23.294000,1079.600000,542.170000,127.985000,11.622000,0.858055,61.303500
50%,18.186000,1012.80000,82.266000,4.186200,25.082000,1088.700000,549.890000,133.780000,12.025000,1.390200,66.601000
75%,23.862500,1016.90000,90.043500,4.550900,27.184000,1096.000000,550.060000,140.895000,12.578000,2.160400,73.935500
max,34.929000,1034.20000,100.200000,7.610600,37.402000,1100.800000,550.610000,174.610000,15.081000,44.103000,119.890000

In [11]:
shuffled_df=df.sample(frac=1,ignore_index=True)

In [12]:
dataset=np.array(shuffled_df)
dataset.shape

(15039, 11)

In [13]:
X = dataset[:,:9]
y = dataset[:,9:]
y_co = y[:,0]
y_nox = y[:,1]
X.shape , y.shape , y_co.shape , y_nox.shape

((15039, 9), (15039, 2), (15039,), (15039,))

In [14]:
#generating Train, Test and Valid dataset and checking their shapes

X_train_full , X_test , y_train_full , y_test = train_test_split(X , y, train_size=0.85)
X_train , X_valid , y_train , y_valid = train_test_split(X_train_full , y_train_full)

X_train.shape, X_valid.shape, X_test.shape

((9587, 9), (3196, 9), (2256, 9))

In [15]:
# creating "xgboost model" with defualt hyperparameters
# creating scaler using StandardScaler to normalize data

model_co = xgboost.XGBRegressor()
model_nox = xgboost.XGBRegressor()
scaler = StandardScaler()

In [16]:
X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)
X_test_scaled = scaler.transform(X_test)

In [17]:
# Separeting labels to use each one in individual training model
y_co_train = y_train[:,0]
y_co_valid = y_valid[:,0]
y_co_test = y_test[:,0]

y_nox_train = y_train[:,1]
y_nox_valid = y_valid[:,1]
y_nox_test = y_test[:,1]

In [18]:
y_co_train.shape

(9587,)

In [19]:
model_co.fit(X_train_scaled, y_co_train, eval_set=[(X_valid_scaled, y_co_valid)], early_stopping_rounds=5)

[0]	validation_0-rmse:2.39755
[1]	validation_0-rmse:2.09173
[2]	validation_0-rmse:1.86887
[3]	validation_0-rmse:1.72774
[4]	validation_0-rmse:1.61801
[5]	validation_0-rmse:1.55502
[6]	validation_0-rmse:1.49415
[7]	validation_0-rmse:1.45672
[8]	validation_0-rmse:1.42547
[9]	validation_0-rmse:1.40942
[10]	validation_0-rmse:1.39374
[11]	validation_0-rmse:1.38806
[12]	validation_0-rmse:1.37757
[13]	validation_0-rmse:1.37234
[14]	validation_0-rmse:1.36617
[15]	validation_0-rmse:1.36096
[16]	validation_0-rmse:1.35910
[17]	validation_0-rmse:1.36177
[18]	validation_0-rmse:1.36130
[19]	validation_0-rmse:1.35835
[20]	validation_0-rmse:1.35687
[21]	validation_0-rmse:1.35706
[22]	validation_0-rmse:1.35686
[23]	validation_0-rmse:1.35564
[24]	validation_0-rmse:1.35520
[25]	validation_0-rmse:1.35543
[26]	validation_0-rmse:1.35298
[27]	validation_0-rmse:1.35494
[28]	validation_0-rmse:1.35440
[29]	validation_0-rmse:1.35214
[30]	validation_0-rmse:1.35171
[31]	validation_0-rmse:1.35170
[32]	validation_0-rmse:1.34970
[33]	validation_0-rmse:1.34840
[34]	validation_0-rmse:1.34803
[35]	validation_0-rmse:1.34759
[36]	validation_0-rmse:1.34778
[37]	validation_0-rmse:1.34753
[38]	validation_0-rmse:1.34758
[39]	validation_0-rmse:1.34531
[40]	validation_0-rmse:1.34268
[41]	validation_0-rmse:1.34248
[42]	validation_0-rmse:1.34246
[43]	validation_0-rmse:1.34253
[44]	validation_0-rmse:1.34223
[45]	validation_0-rmse:1.34248
[46]	validation_0-rmse:1.34261
[47]	validation_0-rmse:1.34237
[48]	validation_0-rmse:1.34231

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [20]:
model_nox.fit(X_train_scaled, y_nox_train, eval_set=[(X_valid_scaled, y_nox_valid)], early_stopping_rounds=5)

[0]	validation_0-rmse:48.23486
[1]	validation_0-rmse:33.99964
[2]	validation_0-rmse:24.06517
[3]	validation_0-rmse:17.16102
[4]	validation_0-rmse:12.45800
[5]	validation_0-rmse:9.25037
[6]	validation_0-rmse:7.14273
[7]	validation_0-rmse:5.80650
[8]	validation_0-rmse:5.00444
[9]	validation_0-rmse:4.55362
[10]	validation_0-rmse:4.29178
[11]	validation_0-rmse:4.13438
[12]	validation_0-rmse:4.05069
[13]	validation_0-rmse:3.98612
[14]	validation_0-rmse:3.95741
[15]	validation_0-rmse:3.93699
[16]	validation_0-rmse:3.90628
[17]	validation_0-rmse:3.88414
[18]	validation_0-rmse:3.87817
[19]	validation_0-rmse:3.86288
[20]	validation_0-rmse:3.85128
[21]	validation_0-rmse:3.83613
[22]	validation_0-rmse:3.83268
[23]	validation_0-rmse:3.83208
[24]	validation_0-rmse:3.80800
[25]	validation_0-rmse:3.80287
[26]	validation_0-rmse:3.79541
[27]	validation_0-rmse:3.79440
[28]	validation_0-rmse:3.79592
[29]	validation_0-rmse:3.79629
[30]	validation_0-rmse:3.79785
[31]	validation_0-rmse:3.78648
[32]	validation_0-rmse:3.77642
[33]	validation_0-rmse:3.76065
[34]	validation_0-rmse:3.76015
[35]	validation_0-rmse:3.75880
[36]	validation_0-rmse:3.75715
[37]	validation_0-rmse:3.75524
[38]	validation_0-rmse:3.75446
[39]	validation_0-rmse:3.75005
[40]	validation_0-rmse:3.74784
[41]	validation_0-rmse:3.74375
[42]	validation_0-rmse:3.74008
[43]	validation_0-rmse:3.73777
[44]	validation_0-rmse:3.73652
[45]	validation_0-rmse:3.73683
[46]	validation_0-rmse:3.73707
[47]	validation_0-rmse:3.72933
[48]	validation_0-rmse:3.73094
[49]	validation_0-rmse:3.72604
[50]	validation_0-rmse:3.72593
[51]	validation_0-rmse:3.72559
[52]	validation_0-rmse:3.72311
[53]	validation_0-rmse:3.69795
[54]	validation_0-rmse:3.69515
[55]	validation_0-rmse:3.69264
[56]	validation_0-rmse:3.68834
[57]	validation_0-rmse:3.68955
[58]	validation_0-rmse:3.68641
[59]	validation_0-rmse:3.68717
[60]	validation_0-rmse:3.68932
[61]	validation_0-rmse:3.68769
[62]	validation_0-rmse:3.68625
[63]	validation_0-rmse:3.68477
[64]	validation_0-rmse:3.68101
[65]	validation_0-rmse:3.68006
[66]	validation_0-rmse:3.68292
[67]	validation_0-rmse:3.68072
[68]	validation_0-rmse:3.68275
[69]	validation_0-rmse:3.68136
[70]	validation_0-rmse:3.67930
[71]	validation_0-rmse:3.67764
[72]	validation_0-rmse:3.67777
[73]	validation_0-rmse:3.67673
[74]	validation_0-rmse:3.67531
[75]	validation_0-rmse:3.67532
[76]	validation_0-rmse:3.67543
[77]	validation_0-rmse:3.67467
[78]	validation_0-rmse:3.67989
[79]	validation_0-rmse:3.68023
[80]	validation_0-rmse:3.68217
[81]	validation_0-rmse:3.67993

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [21]:
y_co_pred = model_co.predict(X_test_scaled)
y_nox_pred = model_nox.predict(X_test_scaled)

In [22]:
# Evaluting models

print('Mean Absolute Error for CO prediction: ',MAE(y_co_test, y_co_pred))
print('Mean Absolute Error for Nox prediction: ',MAE(y_nox_test, y_nox_pred))

Mean Absolute Error for CO prediction:  0.46753643388594956
Mean Absolute Error for Nox prediction:  2.4108946799014483